Repository discord-net/Discord.Net, pull requests merged in 2018-05, with the labels that each got.

#984 Expose VoiceServerUpdate events
  src/Discord.Net.WebSocket/BaseSocketClient.Events.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/SocketVoiceServer.cs
Labels: priority: improvement, project: websocket, version: minor

#1055 Audit Logs implementation
  src/Discord.Net.Core/DiscordConfig.cs
  src/Discord.Net.Core/Entities/AuditLogs/ActionType.cs
  src/Discord.Net.Core/Entities/AuditLogs/IAuditLogData.cs
  src/Discord.Net.Core/Entities/AuditLogs/IAuditLogEntry.cs
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Core/Entities/Webhooks/WebhookType.cs
  src/Discord.Net.Rest/API/Common/AuditLog.cs
  src/Discord.Net.Rest/API/Common/AuditLogChange.cs
  src/Discord.Net.Rest/API/Common/AuditLogEntry.cs
  src/Discord.Net.Rest/API/Common/AuditLogOptions.cs
  src/Discord.Net.Rest/API/Rest/GetAuditLogsParams.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/AuditLogs/AuditLogHelper.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/BanAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/EmoteCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/EmoteDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/EmoteUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/GuildInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/GuildUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/InviteCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/InviteDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/InviteInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/InviteUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/KickAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MemberRoleAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MemberUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MessageDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/PruneAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/RoleCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/RoleDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/RoleInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/RoleUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/UnbanAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/WebhookCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/WebhookDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/WebhookInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/WebhookUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/RestAuditLogEntry.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: in progress, priority: improvement, project: rest

#996 Implement IMessageChannel#DeleteMessageAsync
  src/Discord.Net.Core/Entities/Channels/IMessageChannel.cs
  src/Discord.Net.Rest/Entities/Channels/ChannelHelper.cs
  src/Discord.Net.Rest/Entities/Channels/RestDMChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestGroupChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestTextChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RpcVirtualMessageChannel.cs
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketDMChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketGroupChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketTextChannel.cs
Labels: priority: improvement, project: core, version: major
