Repository discord-net/Discord.Net, pull requests merged in 2018-03, with the labels that each got.

#969 Allow nested ModuleBase classes to be built when declared from non-module classes.
  src/Discord.Net.Commands/Builders/ModuleClassBuilder.cs
Labels: priority: improvement, project: commands

#968 Add Missing Parameter For WebSocket4Net Constructor
  src/Discord.Net.Providers.WS4Net/Discord.Net.Providers.WS4Net.csproj
  src/Discord.Net.Providers.WS4Net/WS4NetClient.cs
Labels: priority: improvement, project: websocket

#958 Set usage of TokenType.User as an error rather than a warning.
  src/Discord.Net.Commands/Attributes/Preconditions/RequireOwnerAttribute.cs
  src/Discord.Net.Core/TokenType.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: discord feature (non-bot), project: core, version: major

#962 Attempts to resolve #961
  src/Discord.Net.Core/IDiscordClient.cs
  src/Discord.Net.Rest/BaseDiscordClient.cs
  src/Discord.Net.Rest/ClientHelper.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/DiscordRestClient.cs
  src/Discord.Net.WebSocket/BaseSocketClient.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketApiClient.cs
Labels: discord feature, in progress, priority: improvement

#945 Fix SocketCategoryChannel properties
  src/Discord.Net.WebSocket/Entities/Channels/SocketCategoryChannel.cs
Labels: bug, priority: bug, project: websocket, version: patch

#992 Throw when attempting to modify a message not made by the current user
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
  src/Discord.Net.Rest/Entities/Messages/RestUserMessage.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketUserMessage.cs
Labels: priority: improvement, project: rest

#1010 Resolve mutability issues with EmbedBuilder.
  src/Discord.Net.Core/Entities/Messages/EmbedBuilder.cs
Labels: priority: bug, priority: improvement, version: patch

#1009 Add way to replace default TypeReaders
  src/Discord.Net.Commands/Builders/ModuleClassBuilder.cs
  src/Discord.Net.Commands/CommandService.cs
Labels: priority: improvement, project: commands, version: minor
