Repository discord-net/Discord.Net, pull requests merged in 2018-11, with the labels that each got.

#1183 Add Add Guild Member Endpoint
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Core/Entities/Users/AddGuildUserProperties.cs
  src/Discord.Net.Rest/API/Rest/AddGuildMemberParams.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: priority: improvement, project: core, version: minor

#1196 Resolve Issue #1188 (Allow Users to specify position when creating a new channel)
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Rest/API/Rest/CreateGuildChannelParams.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: priority: improvement, project: core, version: major

#1195 Update ChannelCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelCreateAuditLogData.cs
Labels: priority: bug, version: patch

#1171 Implement Dispose for types which have disposable data
  samples/01_basic_ping_bot/Program.cs
  samples/02_commands_framework/Program.cs
  samples/03_sharded_client/Program.cs
  src/Discord.Net.Commands/CommandService.cs
  src/Discord.Net.Commands/Discord.Net.Commands.csproj
  src/Discord.Net.Core/Discord.Net.Core.csproj
  src/Discord.Net.Core/Entities/Image.cs
  src/Discord.Net.Core/Net/Rest/IRestClient.cs
  src/Discord.Net.Core/Net/Udp/IUdpSocket.cs
  src/Discord.Net.Core/Net/WebSockets/IWebSocketClient.cs
  src/Discord.Net.Providers.WS4Net/WS4NetClient.cs
  src/Discord.Net.Rest/BaseDiscordClient.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/DiscordRestClient.cs
  src/Discord.Net.Rest/Net/Converters/ImageConverter.cs
  src/Discord.Net.Rest/Net/DefaultRestClient.cs
  src/Discord.Net.Rest/Net/Queue/RequestQueue.cs
  src/Discord.Net.WebSocket/Audio/AudioClient.cs
  src/Discord.Net.WebSocket/Audio/Streams/BufferedWriteStream.cs
  src/Discord.Net.WebSocket/Audio/Streams/InputStream.cs
  src/Discord.Net.WebSocket/ConnectionManager.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketApiClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/DiscordVoiceApiClient.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
  src/Discord.Net.WebSocket/Net/DefaultUdpSocket.cs
  src/Discord.Net.WebSocket/Net/DefaultWebSocketClient.cs
  src/Discord.Net.Webhook/Discord.Net.Webhook.csproj
  test/Discord.Net.Tests/Discord.Net.Tests.csproj
  test/Discord.Net.Tests/Net/CachedRestClient.cs
Labels: performance, priority: improvement, version: major

#1200 (Part 1 of 4) Added Msg.Content Null Check For Prefixes
  src/Discord.Net.Commands/Extensions/MessageExtensions.cs
Labels: priority: bug, project: commands, version: patch

#1172 Move Invites-related Methods from IGuildChannel to INestedChannel
  src/Discord.Net.Core/Entities/Channels/IGuildChannel.cs
  src/Discord.Net.Core/Entities/Channels/INestedChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestCategoryChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestGuildChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestTextChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestVoiceChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketCategoryChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketGuildChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketTextChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketVoiceChannel.cs
Labels: priority: improvement, project: core, version: major

#1203 (Part 4 of 4) Solves AudioClient Lockup On Disconnect
  src/Discord.Net.WebSocket/ConnectionManager.cs
Labels: performance, priority: bug, project: audio, version: patch

#1204 Update minimum Bot Token length to 58 char
  src/Discord.Net.Core/Utils/TokenUtils.cs
  test/Discord.Net.Tests/Tests.TokenUtils.cs
Labels: priority: critical, project: core, version: patch
