Repository discord-net/Discord.Net, pull requests merged in 2019-05, with the labels that each got.

#1293 Fix #1280 Add NewsChannel Types
  src/Discord.Net.Core/Entities/Channels/ChannelType.cs
  src/Discord.Net.Rest/Entities/Channels/RestChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestGuildChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestNewsChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestTextChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketGuildChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketNewsChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketTextChannel.cs
Labels: priority: improvement, project: core, version: minor

#1261 Add GetCategoryChannel method
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: priority: improvement, project: websocket, version: minor

#1263 Add GuildMemberJoin for MessageType
  src/Discord.Net.Core/Entities/Messages/MessageType.cs
Labels: priority: improvement, project: core, version: minor

#1271 Fix #1270 Add the AuthorId to MessageDeleteAuditLogData
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MessageDeleteAuditLogData.cs
Labels: priority: improvement, project: core, version: minor

#1236 Implement messages bulk deleted event (from previous PR #1120)
  src/Discord.Net.WebSocket/BaseSocketClient.Events.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/DiscordSocketConfig.cs
Labels: priority: improvement, project: websocket, version: major
