Repository discord-net/Discord.Net, pull requests merged in 2019-09, with the labels that each got.

#1355 Provide ParameterInfo with error ParseResult
  src/Discord.Net.Commands/CommandParser.cs
  src/Discord.Net.Commands/Results/ParseResult.cs
Labels: priority: improvement, project: commands, version: minor

#1375 Bug: Use double precision for X-Reset-After, set CultureInfo when parsing numeric types
  src/Discord.Net.Core/Utils/TokenUtils.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Users/RestUser.cs
  src/Discord.Net.Rest/Net/Converters/UInt64EntityOrIdConverter.cs
  src/Discord.Net.Rest/Net/RateLimitInfo.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketUser.cs
  src/Discord.Net.Webhook/DiscordWebhookClient.cs
Labels: priority: bug, project: core

#1373 Audit log improvements
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/GuildInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/GuildUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MemberInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MemberUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/RoleUpdateAuditLogData.cs
Labels: priority: bug, project: rest, version: minor

#1377 Feature: Support filtering audit log entries on user, action type, and before entry id
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Rest/API/Rest/GetAuditLogsParams.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: priority: improvement, project: core, version: minor

#1379 September 2019 Documentation Update
  Discord.Net.sln
  docs/_template/description-generator/plugins/DocFX.Plugin.DescriptionGenerator.dll
  docs/_template/light-dark-theme/partials/head.tmpl.partial
  docs/_template/light-dark-theme/partials/scripts.tmpl.partial
  docs/_template/light-dark-theme/styles/master.css
  docs/_template/light-dark-theme/styles/plugin-featherlight.js
  docs/docfx.json
  docs/guides/getting_started/first-bot.md
  docs/guides/getting_started/installing.md
  docs/guides/getting_started/nightlies.md
  docs/guides/getting_started/samples/first-bot/client.cs
  docs/index.md
  docs/marketing/logo/PackageLogo.png
  src/Discord.Net.Core/Entities/Activities/ActivityType.cs
  src/Discord.Net.Core/Entities/Channels/Direction.cs
  src/Discord.Net.Core/Entities/Channels/IChannel.cs
  src/Discord.Net.Core/Entities/Channels/IGuildChannel.cs
  src/Discord.Net.Core/Entities/Channels/INestedChannel.cs
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Core/Entities/Users/IGuildUser.cs
  src/Discord.Net.Core/Extensions/AsyncEnumerableExtensions.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketNewsChannel.cs
Labels: priority: improvement, project: docs
