Repository discord-net/Discord.Net, pull requests merged in 2019-11, with the labels that each got.

#1406 Feature: CustomStatusGame Activity
  src/Discord.Net.Core/Entities/Activities/ActivityType.cs
  src/Discord.Net.Core/Entities/Activities/CustomStatusGame.cs
  src/Discord.Net.Rest/API/Common/Game.cs
  src/Discord.Net.Rest/Extensions/EntityExtensions.cs
  src/Discord.Net.WebSocket/Extensions/EntityExtensions.cs
Labels: priority: improvement, project: core

#1424 Fix the Comparer descriptions not linking the type
  docs/_overwrites/Common/DiscordComparers.Overwrites.md
Labels: priority: improvement, project: docs

#1422 Fix #1421 Return empty set when ActiveClients is null
  src/Discord.Net.WebSocket/Entities/Users/SocketUser.cs
Labels: priority: bug, project: websocket

#1426 docs: Fix incorrect and missing colour values for Color fields
  src/Discord.Net.Core/Entities/Roles/Color.cs
Labels: project: docs

#1418 Fix #1335 Add isMentionable parameter to CreateRoleAsync in non-breaking manner
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: lib feature, priority: improvement, project: core

#1417 fix #1415 Re-add support for overwrite permissions for news channels
  src/Discord.Net.Rest/Entities/Channels/RestNewsChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketNewsChannel.cs
Labels: priority: improvement, project: rest, project: websocket

#1414 Adding StartedAt, EndsAt, Elapsed and Remaining to SpotifyGame.
  src/Discord.Net.Core/Entities/Activities/SpotifyGame.cs
  src/Discord.Net.WebSocket/Extensions/EntityExtensions.cs
Labels: priority: improvement, project: websocket, version: minor

#1416 Fix: False-positive detection of CustomStatusGame based on Id property
  src/Discord.Net.WebSocket/Extensions/EntityExtensions.cs
Labels: priority: bug, project: websocket
