Repository discord-net/Discord.Net, pull requests merged in 2019-10, with the labels that each got.

#1388 Fix test that fails on half of the planet
  test/Discord.Net.Tests.Unit/EmbedBuilderTests.cs
Labels: hacktoberfest, priority: bug, project: tests

#1386 Added ability to unsubscribe from guild subscription events
  src/Discord.Net.WebSocket/API/Gateway/IdentifyParams.cs
  src/Discord.Net.WebSocket/DiscordSocketApiClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/DiscordSocketConfig.cs
Labels: hacktoberfest, project: websocket, version: minor

#1392 Fix overdue TODO
  src/Discord.Net.Commands/Readers/NamedArgumentTypeReader.cs
Labels: priority: improvement, project: commands, version: patch

#1387 Fix #1381 Guild PreferredLocale support
  src/Discord.Net.Core/Entities/Guilds/GuildProperties.cs
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Rest/API/Common/Guild.cs
  src/Discord.Net.Rest/API/Rest/ModifyGuildParams.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: hacktoberfest, priority: improvement, project: core, version: minor

#1400 Fix #1394 Misworded doc for arguments with the params keyword
  docs/guides/commands/intro.md
Labels: project: docs

#1403 Refactor MessageHelper: Don't instantiate 2 regexes on each call of ParseTags
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
Labels: priority: improvement, project: core, version: patch
