Repository discord-net/Discord.Net, pull requests merged in 2019-08, with the labels that each got.

#1348 Add Quote Formatting
  src/Discord.Net.Core/Format.cs
  test/Discord.Net.Tests.Unit/FormatTests.cs
Labels: discord feature, version: minor

#1346 CommandExecuted event should fire when a ParameterPrecondition fails
  src/Discord.Net.Commands/Info/CommandInfo.cs
Labels: priority: bug, project: commands, version: patch

#1318 Fix #1314 Don't parse tags within code blocks
  src/Discord.Net.Commands/AssemblyInfo.cs
  src/Discord.Net.Core/AssemblyInfo.cs
  src/Discord.Net.Rest/AssemblyInfo.cs
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
  src/Discord.Net.WebSocket/AssemblyInfo.cs
  src/Discord.Net.Webhook/AssemblyInfo.cs
  test/Discord.Net.Tests.Unit/MessageHelperTests.cs
Labels: priority: bug, project: core, version: patch
