Repository discord-net/Discord.Net, pull requests merged in 2019-03, with the labels that each got.

#1278 Fix false invalidation when decoding token User Ids
  src/Discord.Net.Core/Utils/TokenUtils.cs
  test/Discord.Net.Tests/Tests.TokenUtils.cs
Labels: priority: bug, project: core, version: patch

#1276 Use a relative path for docs index page logo
  docs/_template/light-dark-theme/styles/dark.css
  docs/_template/light-dark-theme/styles/gray.css
  docs/_template/light-dark-theme/styles/light.css
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: priority: improvement, project: docs, version: patch

#1268 Fix NullReferenceException at MESSAGE_CREATE
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: priority: bug, project: websocket, version: patch

#1257 Clarify command samples
  samples/02_commands_framework/Modules/PublicModule.cs
  samples/02_commands_framework/Program.cs
  samples/02_commands_framework/Services/CommandHandlingService.cs
Labels: project: docs, version: patch

#1256 Fix NRE when getting audit logs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/WebhookCreateAuditLogData.cs
Labels: priority: bug, project: core, version: patch

#1292 Initialize ImmutableArray fields
  src/Discord.Net.Rest/Entities/Messages/RestUserMessage.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketUserMessage.cs
Labels: priority: bug, project: core, version: patch
