Repository discord-net/Discord.Net, pull requests merged in 2020-05, with the labels that each got.

#1458 Implement missing audit log types
  src/Discord.Net.Core/Entities/AuditLogs/ActionType.cs
  src/Discord.Net.Rest/API/Common/AuditLogOptions.cs
  src/Discord.Net.Rest/Entities/AuditLogs/AuditLogHelper.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/BotAddAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MemberDisconnectAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MemberMoveAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MessageBulkDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MessageDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MessagePinAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/MessageUnpinAuditLogData.cs
Labels: discord feature, priority: improvement, project: rest, version: minor

#1509 Fix Deserialization in Audit Log Data Types
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ChannelCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/OverwriteDeleteAuditLogData.cs
Labels: priority: bug

#1455 Feature: Include allowed mentions payload on message creation
  src/Discord.Net.Commands/ModuleBase.cs
  src/Discord.Net.Core/Entities/Channels/IMessageChannel.cs
  src/Discord.Net.Core/Entities/Messages/AllowedMentionTypes.cs
  src/Discord.Net.Core/Entities/Messages/AllowedMentions.cs
  src/Discord.Net.Core/Extensions/UserExtensions.cs
  src/Discord.Net.Rest/API/Common/Message.cs
  src/Discord.Net.Rest/API/Rest/CreateMessageParams.cs
  src/Discord.Net.Rest/Entities/Channels/ChannelHelper.cs
  src/Discord.Net.Rest/Entities/Channels/IRestMessageChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestDMChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestGroupChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestTextChannel.cs
  src/Discord.Net.Rest/Entities/Messages/AllowedMentions.cs
  src/Discord.Net.Rest/Extensions/EntityExtensions.cs
  src/Discord.Net.WebSocket/Entities/Channels/ISocketMessageChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketDMChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketGroupChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketTextChannel.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedDMChannel.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedGroupChannel.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedTextChannel.cs
Labels: priority: improvement, project: core

#1530 News channel message publish
  src/Discord.Net.Core/Entities/Messages/IUserMessage.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
  src/Discord.Net.Rest/Entities/Messages/RestMessage.cs
  src/Discord.Net.Rest/Entities/Messages/RestUserMessage.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketUserMessage.cs
Labels: in progress, priority: improvement, project: rest

#1545 MutualGuilds optimization
  src/Discord.Net.WebSocket/Entities/Users/SocketUser.cs
Labels: performance
