Repository discord-net/Discord.Net, pull requests merged in 2020-06, with the labels that each got.

#1544 feature: Add MESSAGE_REACTION_REMOVE_EMOJI and RemoveAllReactionsForEmoteAsync
  src/Discord.Net.Core/Entities/Messages/IMessage.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
  src/Discord.Net.Rest/Entities/Messages/RestMessage.cs
  src/Discord.Net.WebSocket/API/Gateway/RemoveAllReactionsForEmoteEvent.cs
  src/Discord.Net.WebSocket/BaseSocketClient.Events.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketMessage.cs
Labels: priority: improvement, project: core

#1525 fix: AllowedMentions and AllowedMentionTypes
  src/Discord.Net.Core/Entities/Messages/AllowedMentionTypes.cs
  src/Discord.Net.Core/Entities/Messages/AllowedMentions.cs
Labels: priority: bug, project: core

#1526 feature: Add Direction.Around to GetMessagesAsync
  src/Discord.Net.Rest/Entities/Channels/ChannelHelper.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketChannelHelper.cs
  src/Discord.Net.WebSocket/Entities/Messages/MessageCache.cs
Labels: lib feature, priority: improvement, project: rest

#1531 fix: Add AllowedMentions to SendFileAsync
  src/Discord.Net.Core/Entities/Channels/IMessageChannel.cs
  src/Discord.Net.Core/Entities/Users/IGuildUser.cs
  src/Discord.Net.Rest/API/Rest/UploadFileParams.cs
  src/Discord.Net.Rest/Entities/Channels/ChannelHelper.cs
  src/Discord.Net.Rest/Entities/Channels/IRestMessageChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestDMChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestGroupChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestTextChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/ISocketMessageChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketDMChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketGroupChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketTextChannel.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedDMChannel.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedGroupChannel.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedTextChannel.cs
Labels: priority: bug, project: core

#1521 Use GetMethods instead of DeclaredMethods to allow for inherited commands
  src/Discord.Net.Commands/Builders/ModuleClassBuilder.cs
Labels: project: commands
