Repository discord-net/Discord.Net, pull requests merged in 2022-04, with the labels that each got.

#2227 Add Rest based Modal support to Interaction Service
  src/Discord.Net.Interactions/Extensions/RestExtensions.cs
  src/Discord.Net.Interactions/RestInteractionModuleBase.cs
  src/Discord.Net.Interactions/Utilities/ApplicationCommandRestUtil.cs
Labels: priority: bug, project: interaction

#2226 Adds a action delegate parameter to `RespondWithModalAsync<T>()` for modifying the modal
  src/Discord.Net.Interactions/Extensions/IDiscordInteractionExtensions.cs
Labels: enhancement, project: interaction

#2213 Proposal: Global interaction post execution event.
  src/Discord.Net.Interactions/InteractionService.cs
Labels: priority: improvement, project: interaction

#2217 Fix gateway interactions not running without bot scope.
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketInteraction.cs
Labels: priority: bug

#2204 Proposal: Make bidirectional formatting optional
  src/Discord.Net.Core/DiscordConfig.cs
  src/Discord.Net.Core/Format.cs
  src/Discord.Net.Rest/BaseDiscordClient.cs
  src/Discord.Net.Rest/Entities/Users/RestUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketUser.cs
Labels: enhancement

#2225 fix: GuildMemberUpdated cacheable before entity incorrect
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: bug

#2249 Fix log severity mapping for guide sample
  docs/guides/other_libs/samples/ModifyLogMethod.cs
Labels: project: docs

#2248 Fix SocketGuild not returning the AudioClient
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: project: websocket

#2246 [DOCS] Group commands example
  docs/guides/int_framework/intro.md
  docs/guides/int_framework/samples/intro/groupmodule.cs
Labels: project: docs

#2254 Fix browser field in identify connection properties
  src/Discord.Net.WebSocket/DiscordSocketApiClient.cs
Labels: bug

#2222 V2 Permissions
  src/Discord.Net.Core/Entities/Interactions/ApplicationCommandProperties.cs
  src/Discord.Net.Core/Entities/Interactions/ContextMenus/MessageCommandBuilder.cs
  src/Discord.Net.Core/Entities/Interactions/ContextMenus/UserCommandBuilder.cs
  src/Discord.Net.Core/Entities/Interactions/IApplicationCommand.cs
  src/Discord.Net.Core/Entities/Interactions/SlashCommands/SlashCommandBuilder.cs
  src/Discord.Net.Interactions/Attributes/DefaultMemberPermissionAttribute.cs
  src/Discord.Net.Interactions/Attributes/DefaultPermissionAttribute.cs
  src/Discord.Net.Interactions/Attributes/EnabledInDmAttribute.cs
  src/Discord.Net.Interactions/Builders/Commands/ContextCommandBuilder.cs
  src/Discord.Net.Interactions/Builders/Commands/SlashCommandBuilder.cs
  src/Discord.Net.Interactions/Builders/ModuleBuilder.cs
  src/Discord.Net.Interactions/Builders/ModuleClassBuilder.cs
  src/Discord.Net.Interactions/Info/Commands/ContextCommands/ContextCommandInfo.cs
  src/Discord.Net.Interactions/Info/Commands/SlashCommandInfo.cs
  src/Discord.Net.Interactions/Info/IApplicationCommandInfo.cs
  src/Discord.Net.Interactions/Info/ModuleInfo.cs
  src/Discord.Net.Interactions/Utilities/ApplicationCommandRestUtil.cs
  src/Discord.Net.Rest/API/Common/ApplicationCommand.cs
  src/Discord.Net.Rest/API/Rest/CreateApplicationCommandParams.cs
  src/Discord.Net.Rest/Entities/Interactions/InteractionHelper.cs
  src/Discord.Net.Rest/Entities/Interactions/RestApplicationCommand.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketBaseCommand/SocketApplicationCommand.cs
Labels: enhancement, discord feature, project: interaction

#2263 Interaction Service Perms-v2 docs
  docs/guides/int_framework/intro.md
Labels: project: docs

#2260 Guarding against empty descriptions in `SlashCommandBuilder`/`SlashCommandOptionBuilder`
  src/Discord.Net.Core/Entities/Interactions/SlashCommands/SlashCommandBuilder.cs
  src/Discord.Net.Core/Utils/Preconditions.cs
Labels: enhancement

#2265 [Docs] Adding permission docs for interaction framework
  docs/guides/int_framework/permissions.md
  docs/guides/int_framework/samples/permissions/guild-only.cs
  docs/guides/int_framework/samples/permissions/guild-perms.cs
  docs/guides/int_framework/samples/permissions/perm-nesting.cs
  docs/guides/int_framework/samples/permissions/perm-stacking.cs
  docs/guides/toc.yml
  samples/MediatRSample/MediatRSample.sln
Labels: discord feature, project: docs

#2274 Implement fix for Custom Id Segments NRE
  src/Discord.Net.Interactions/InteractionService.cs
Labels: bug, priority: bug, project: interaction

#2271 Fix null user on interaction without bot scope
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: priority: bug
