Repository discord-net/Discord.Net, pull requests merged in 2022-01, with the labels that each got.

#2023 Fix ModifyAsync
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
Labels: enhancement

#2024 Interaction Group Name Uppercase Exception
  src/Discord.Net.Interactions/Utilities/ApplicationCommandRestUtil.cs
Labels: project: interaction

#2025 Fix IsTopLevelCommand
  src/Discord.Net.Interactions/Info/Commands/CommandInfo.cs
  src/Discord.Net.Interactions/Info/ModuleInfo.cs
Labels: project: interaction

#2016 Add Construct Method to InteractionModuleBase and Fix NRE on User-Built Module Creation
  src/Discord.Net.Interactions/Builders/ModuleBuilder.cs
  src/Discord.Net.Interactions/IInteractionModuleBase.cs
  src/Discord.Net.Interactions/InteractionModuleBase.cs
Labels: project: interaction

#2031 Make DefaultChannel exclude threads
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: priority: bug

#2033 Fix Interaction delete original response
  src/Discord.Net.Rest/Entities/Interactions/InteractionHelper.cs
Labels: bug

#2042 Move gateway intents warning to ready event
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: project: websocket

#2041 Add search methods to InteractionService
  src/Discord.Net.Interactions/InteractionService.cs
Labels: enhancement, project: interaction

#2040 Add user locale & guild locale in interactions
  src/Discord.Net.Core/Entities/Interactions/IDiscordInteraction.cs
  src/Discord.Net.Rest/API/Common/Interaction.cs
  src/Discord.Net.Rest/Entities/Interactions/RestInteraction.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketInteraction.cs
Labels: enhancement

#2039 Update v2->v3 guide and index page
  docs/guides/v2_v3_guide/v2_to_v3_guide.md
  docs/index.md
Labels: project: docs

#2038 Add AddRow and WithRows to ComponentBuilder
  src/Discord.Net.Core/Entities/Interactions/MessageComponents/ComponentBuilder.cs
Labels: enhancement

#2037 Add default ratelimit callback
  src/Discord.Net.Core/DiscordConfig.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/DiscordRestClient.cs
  src/Discord.Net.WebSocket/BaseSocketClient.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketApiClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.Webhook/DiscordWebhookClient.cs
Labels: enhancement

#2036 Add missing guild features
  src/Discord.Net.Core/Entities/Guilds/GuildFeature.cs
  src/Discord.Net.Core/Entities/Guilds/GuildFeatures.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
Labels: enhancement, project: core

#2035 Add GetChannelType extension method
  src/Discord.Net.Core/Extensions/ChannelExtensions.cs
Labels: enhancement, project: core

#2034 Fix exception when uploading files
  src/Discord.Net.Rest/Entities/Channels/ChannelHelper.cs
Labels: project: rest, priority: bug

#2044 Use ApplicationId for interactions
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/DiscordRestClient.cs
  src/Discord.Net.WebSocket/API/Gateway/PartialApplication.cs
  src/Discord.Net.WebSocket/API/Gateway/ReadyEvent.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: project: rest, priority: bug

#2045 Fix argument null exception on Message Create
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: project: websocket, priority: bug

#2046 Fix ThreadMember null ref
  src/Discord.Net.WebSocket/Entities/Users/SocketThreadUser.cs
Labels: project: websocket, priority: bug

#2061 Update creating-context-menu-commands.md
  docs/guides/int_basics/application-commands/context-menu-commands/creating-context-menu-commands.md
Labels: project: docs

#2055 Add missing IThreadUser interface
  src/Discord.Net.Core/Entities/Users/IThreadUser.cs
  src/Discord.Net.Rest/Entities/Users/RestThreadUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketThreadUser.cs
Labels: enhancement

#2059 Update HttpException to display inner-errors on the HttpException.Message for better debugging
  src/Discord.Net.Core/Net/HttpException.cs
Labels: enhancement

#2063 Set Stream.Position in FileAttachment-ctor to 0
  src/Discord.Net.Core/Entities/Messages/FileAttachment.cs
Labels: enhancement

#2071 Fix attempt to get application info for non-bot tokens
  src/Discord.Net.Rest/DiscordRestClient.cs
Labels: bug

#2030 Add catch for operation canceled in connection manager
  src/Discord.Net.WebSocket/ConnectionManager.cs
Labels: project: websocket, priority: improvement
