Repository discord-net/Discord.Net, pull requests merged in 2022-09, with the labels that each got.

#2437 adding scheduled events to audit log
  src/Discord.Net.Core/Entities/AuditLogs/ActionType.cs
  src/Discord.Net.Rest/Entities/AuditLogs/AuditLogHelper.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ScheduledEventCreateAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ScheduledEventDeleteAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ScheduledEventInfo.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/ScheduledEventUpdateAuditLogData.cs
Labels: blocked

#2345 Fix a bug in EmbedBuilder.Length when there is an EmbedField with no Value
  src/Discord.Net.Core/Entities/Messages/EmbedBuilder.cs
Labels: bug

#2333 New logo
  docs/marketing/logo/PackageLogo.png
Labels: discussion, project: docs

#2423 Implemented resume_gateway_url.
  src/Discord.Net.WebSocket/API/Gateway/ReadyEvent.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketApiClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: project: websocket, priority: improvement

#2471 [Docs] Update samples to use `MessageContent` intent & update `v2 => v3 guide`
  docs/guides/v2_v3_guide/v2_to_v3_guide.md
  samples/BasicBot/Program.cs
  samples/BasicBot/_BasicBot.csproj
  samples/InteractionFramework/_InteractionFramework.csproj
  samples/ShardedClient/Program.cs
  samples/ShardedClient/_ShardedClient.csproj
  samples/TextCommandFramework/Program.cs
  samples/TextCommandFramework/_TextCommandFramework.csproj
  samples/WebhookClient/_WebhookClient.csproj
Labels: project: docs
