Repository discord-net/Discord.Net, pull requests merged in 2022-08, with the labels that each got.

#2368 Add clarification to AutoServiceScope docs
  docs/guides/int_framework/intro.md
Labels: project: docs

#2356 Update sending-voice.md
  docs/guides/voice/sending-voice.md
Labels: project: docs

#2348 [Docs] Add `RequiredInput` attribute
  docs/guides/int_framework/samples/intro/modal.cs
Labels: project: docs

#2385 Add ServerStarter.Host to deployment.md
  docs/guides/deployment/deployment.md
Labels: project: docs

#2374 [DOCS] Add a note about `IgnoreGroupNames` to IF docs
  docs/guides/int_framework/intro.md
  docs/guides/int_framework/samples/intro/groupmodule.cs
Labels: project: docs

#2384 Support the WEBHOOKS_UPDATED event
  src/Discord.Net.WebSocket/API/Gateway/WebhooksUpdatedEvent.cs
  src/Discord.Net.WebSocket/BaseSocketClient.Events.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: discord feature

#2366 Fixed typo in ChannelUpdatedEvent's documentation
  src/Discord.Net.WebSocket/BaseSocketClient.Events.cs
Labels: project: docs

#2406 Labs deprecation & readme/docs edits.
  CONTRIBUTING.md
  README.md
  docs/faq/basics/client-basics.md
  docs/guides/getting_started/installing.md
  docs/guides/getting_started/labs.md
  docs/guides/getting_started/terminology.md
  docs/guides/toc.yml
  docs/guides/v2_v3_guide/v2_to_v3_guide.md
Labels: project: docs

#2370 Add async callbacks for IModuleBase
  src/Discord.Net.Commands/Builders/ModuleClassBuilder.cs
  src/Discord.Net.Commands/IModuleBase.cs
  src/Discord.Net.Commands/ModuleBase.cs
Labels: enhancement

#2407 Introduces high quality dependency injection documentation
  docs/guides/dependency_injection/basics.md
  docs/guides/dependency_injection/images/manager.png
  docs/guides/dependency_injection/injection.md
  docs/guides/dependency_injection/samples/access-activator.cs
  docs/guides/dependency_injection/samples/collection.cs
  docs/guides/dependency_injection/samples/ctor-injecting.cs
  docs/guides/dependency_injection/samples/enumeration.cs
  docs/guides/dependency_injection/samples/implicit-registration.cs
  docs/guides/dependency_injection/samples/modules.cs
  docs/guides/dependency_injection/samples/program.cs
  docs/guides/dependency_injection/samples/property-injecting.cs
  docs/guides/dependency_injection/samples/provider.cs
  docs/guides/dependency_injection/samples/runasync.cs
  docs/guides/dependency_injection/samples/scoped.cs
  docs/guides/dependency_injection/samples/service-registration.cs
  docs/guides/dependency_injection/samples/services.cs
  docs/guides/dependency_injection/samples/singleton.cs
  docs/guides/dependency_injection/samples/transient.cs
  docs/guides/dependency_injection/scaling.md
  docs/guides/dependency_injection/services.md
  docs/guides/dependency_injection/types.md
  docs/guides/int_framework/dependency-injection.md
  docs/guides/int_framework/intro.md
  docs/guides/text_commands/dependency-injection.md
  docs/guides/text_commands/intro.md
  docs/guides/text_commands/samples/dependency-injection/dependency_map_setup.cs
  docs/guides/text_commands/samples/dependency-injection/dependency_module.cs
  docs/guides/text_commands/samples/dependency-injection/dependency_module_noinject.cs
Labels: project: docs, priority: improvement

#2367 Added DeleteMessagesAsync for TIV and added remaining rate limit in client log
  src/Discord.Net.Core/Entities/Channels/IVoiceChannel.cs
  src/Discord.Net.Rest/BaseDiscordClient.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedVoiceChannel.cs
Labels: enhancement, discord feature

#2346 Fix IGuild.DisconnectAsync(IUser) not disconnecting users
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: bug

#2352 Fix issues related to the absence of bot scope
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketCategoryChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketForumChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketNewsChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketStageChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketTextChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketVoiceChannel.cs
  src/Discord.Net.WebSocket/Entities/Interaction/ContextMenuCommands/MessageCommands/SocketMessageCommand.cs
  src/Discord.Net.WebSocket/Entities/Interaction/ContextMenuCommands/UserCommands/SocketUserCommand.cs
  src/Discord.Net.WebSocket/Entities/Interaction/MessageComponents/SocketMessageComponent.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SlashCommands/SocketSlashCommand.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketBaseCommand/SocketApplicationCommand.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketBaseCommand/SocketCommandBase.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketBaseCommand/SocketResolvableData.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketUserMessage.cs
  src/Discord.Net.WebSocket/Entities/Roles/SocketRole.cs
Labels: bug, enhancement

#2379 Max/Min length fields for ApplicationCommandOption
  src/Discord.Net.Core/Entities/Interactions/ApplicationCommandOption.cs
  src/Discord.Net.Core/Entities/Interactions/IApplicationCommandOption.cs
  src/Discord.Net.Core/Entities/Interactions/SlashCommands/SlashCommandBuilder.cs
  src/Discord.Net.Interactions/Attributes/MaxLengthAttribute.cs
  src/Discord.Net.Interactions/Attributes/MinLengthAttribute.cs
  src/Discord.Net.Interactions/Builders/ModuleClassBuilder.cs
  src/Discord.Net.Interactions/Builders/Parameters/SlashCommandParameterBuilder.cs
  src/Discord.Net.Interactions/Info/Parameters/SlashCommandParameterInfo.cs
  src/Discord.Net.Interactions/Utilities/ApplicationCommandRestUtil.cs
  src/Discord.Net.Rest/API/Common/ApplicationCommandOption.cs
  src/Discord.Net.Rest/Entities/Interactions/RestApplicationCommandOption.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketBaseCommand/SocketApplicationCommandOption.cs
Labels: enhancement

#2369 Using RespondWithModalAsync<IModal>() without prior IModal declaration
  src/Discord.Net.Interactions/Extensions/IDiscordInteractionExtensions.cs
Labels: enhancement

#2428 Fix Pipelines Error
  src/Discord.Net.Core/Discord.Net.Core.csproj
Labels: bug

#2416 Fix role icon & emoji assignment.
  src/Discord.Net.Rest/Entities/Roles/RoleHelper.cs
Labels: bug

#2424 Fix IGuild.GetBansAsync()
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
Labels: bug

#2430 [DOCS] Add a note about `DontAutoRegisterAttribute`
  docs/guides/int_framework/intro.md
Labels: project: docs

#2425 fix: Missing Fact attribute in ColorTests
  test/Discord.Net.Tests.Unit/ColorTests.cs
Labels: bug

#2347 [Feature] Embed comparison
  src/Discord.Net.Core/Entities/Messages/Embed.cs
  src/Discord.Net.Core/Entities/Messages/EmbedAuthor.cs
  src/Discord.Net.Core/Entities/Messages/EmbedBuilder.cs
  src/Discord.Net.Core/Entities/Messages/EmbedField.cs
  src/Discord.Net.Core/Entities/Messages/EmbedFooter.cs
  src/Discord.Net.Core/Entities/Messages/EmbedImage.cs
  src/Discord.Net.Core/Entities/Messages/EmbedProvider.cs
  src/Discord.Net.Core/Entities/Messages/EmbedThumbnail.cs
  src/Discord.Net.Core/Entities/Messages/EmbedVideo.cs
Labels: enhancement

#2420 Fix broken code snippet in dependency injection docs
  docs/guides/dependency_injection/injection.md
Labels: project: docs

#2359 Added support for creating lottie stickers
  src/Discord.Net.Rest/API/Rest/CreateStickerParams.cs
Labels: discord feature
