Repository discord-net/Discord.Net, pull requests merged in 2023-11, with the labels that each got.

#2783 [Feature] Guild incident actions
  src/Discord.Net.Core/Entities/Guilds/GuildIncidentsData.cs
  src/Discord.Net.Core/Entities/Guilds/GuildIncidentsDataProperties.cs
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Rest/API/Common/Guild.cs
  src/Discord.Net.Rest/API/Common/GuildIncidentsData.cs
  src/Discord.Net.Rest/API/Rest/ModifyGuildIncidentsDataParams.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: discord feature, priority: improvement

#2792 [Feature] Create roles with icons
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
Labels: lib feature, priority: improvement

#2782 [Feature] Avatar decorations support
  src/Discord.Net.Core/CDN.cs
  src/Discord.Net.Core/Entities/Users/IUser.cs
  src/Discord.Net.Rest/API/Common/AvatarDecorationData.cs
  src/Discord.Net.Rest/API/Common/User.cs
  src/Discord.Net.Rest/Entities/Users/RestUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketUser.cs
Labels: discord feature, priority: improvement

#2790 [Fix] Remove checks from `UpdateAsync` methods
  src/Discord.Net.Rest/Entities/Interactions/MessageComponents/RestMessageComponent.cs
  src/Discord.Net.Rest/Entities/Interactions/Modals/RestModal.cs
  src/Discord.Net.WebSocket/Entities/Interaction/MessageComponents/SocketMessageComponent.cs
  src/Discord.Net.WebSocket/Entities/Interaction/Modals/SocketModal.cs
Labels: enhancement, priority: bug

#2777 [Feature] Voice channel status support
  src/Discord.Net.Core/DiscordConfig.cs
  src/Discord.Net.Core/Entities/AuditLogs/ActionType.cs
  src/Discord.Net.Core/Entities/Channels/IVoiceChannel.cs
  src/Discord.Net.Core/Entities/Permissions/ChannelPermission.cs
  src/Discord.Net.Core/Entities/Permissions/ChannelPermissions.cs
  src/Discord.Net.Core/Entities/Permissions/GuildPermission.cs
  src/Discord.Net.Core/Entities/Permissions/GuildPermissions.cs
  src/Discord.Net.Rest/API/Common/AuditLogOptions.cs
  src/Discord.Net.Rest/API/Common/Channel.cs
  src/Discord.Net.Rest/API/Rest/ModifyVoiceStatusParams.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/AuditLogs/AuditLogHelper.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/VoiceChannelStatusDeletedAuditLogData.cs
  src/Discord.Net.Rest/Entities/AuditLogs/DataTypes/VoiceChannelStatusUpdateAuditLogData.cs
  src/Discord.Net.Rest/Entities/Channels/ChannelHelper.cs
  src/Discord.Net.Rest/Entities/Channels/RestStageChannel.cs
  src/Discord.Net.Rest/Entities/Channels/RestVoiceChannel.cs
  src/Discord.Net.WebSocket/API/Gateway/VoiceChannelStatusUpdateEvent.cs
  src/Discord.Net.WebSocket/BaseSocketClient.Events.cs
  src/Discord.Net.WebSocket/DiscordShardedClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
  src/Discord.Net.WebSocket/Entities/AuditLogs/DataTypes/SocketVoiceChannelStatusDeleteAuditLogData.cs
  src/Discord.Net.WebSocket/Entities/AuditLogs/DataTypes/SocketVoiceChannelStatusUpdateAuditLogData.cs
  src/Discord.Net.WebSocket/Entities/AuditLogs/DataTypes/SocketWebhookDeletedAuditLogData.cs
  src/Discord.Net.WebSocket/Entities/AuditLogs/SocketAuditLogHelper.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketStageChannel.cs
  src/Discord.Net.WebSocket/Entities/Channels/SocketVoiceChannel.cs
  test/Discord.Net.Tests.Unit/ChannelPermissionsTests.cs
  test/Discord.Net.Tests.Unit/GuildPermissionsTests.cs
  test/Discord.Net.Tests.Unit/MockedEntities/MockedVoiceChannel.cs
Labels: enhancement, priority: improvement

#2776 [Feature] Select menu default values
  src/Discord.Net.Core/Entities/Interactions/MessageComponents/ComponentBuilder.cs
  src/Discord.Net.Core/Entities/Interactions/MessageComponents/SelectDefaultValueType.cs
  src/Discord.Net.Core/Entities/Interactions/MessageComponents/SelectMenuComponent.cs
  src/Discord.Net.Core/Entities/Interactions/MessageComponents/SelectMenuDefaultValue.cs
  src/Discord.Net.Core/Entities/Messages/IUserMessage.cs
  src/Discord.Net.Core/Entities/Messages/MessageResolvedData.cs
  src/Discord.Net.Rest/API/Common/Message.cs
  src/Discord.Net.Rest/API/Common/SelectMenuComponent.cs
  src/Discord.Net.Rest/API/Common/SelectMenuDefaultValue.cs
  src/Discord.Net.Rest/Entities/Messages/RestMessage.cs
  src/Discord.Net.Rest/Entities/Messages/RestUserMessage.cs
  src/Discord.Net.Rest/Net/Converters/DiscordContractResolver.cs
  src/Discord.Net.Rest/Net/Converters/SelectMenuDefaultValueTypeConverter.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketMessage.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketUserMessage.cs
Labels: discord feature, priority: improvement

#2771 [Refactor] Extract `GetDisplayAvatarUrl` in `IUser`
  src/Discord.Net.Core/Entities/Users/IGuildUser.cs
  src/Discord.Net.Core/Entities/Users/IUser.cs
  src/Discord.Net.Examples/Core/Entities/Users/IUser.Examples.cs
  src/Discord.Net.Rest/Entities/Users/RestGuildUser.cs
  src/Discord.Net.Rest/Entities/Users/RestUser.cs
  src/Discord.Net.Rest/Entities/Users/RestWebhookUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketGuildUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketThreadUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketUser.cs
  src/Discord.Net.WebSocket/Entities/Users/SocketWebhookUser.cs
Labels: enhancement, priority: improvement

#2763 [Fix] `SocketKickAuditLogData` `User` never having value
  src/Discord.Net.WebSocket/Entities/AuditLogs/DataTypes/SocketKickAuditLogData.cs
Labels: priority: bug

#2759 [Fix] Missing null checks in `RoleConnectionProperties`
  src/Discord.Net.Core/Entities/ApplicationRoleConnection/RoleConnectionProperties.cs
Labels: enhancement, priority: improvement

#2758 [Fix]: Slash Command Localizations lost after AddCommandsToGuildAsync and deleteMissing = false
  src/Discord.Net.Interactions/InteractionService.cs
Labels: priority: bug

#2765 Use Discord heartbeat interval in audio.
  src/Discord.Net.Core/DiscordConfig.cs
  src/Discord.Net.WebSocket/Audio/AudioClient.cs
  src/Discord.Net.WebSocket/DiscordSocketClient.cs
Labels: project: audio

#2707 [Feature] Super reactions support
  src/Discord.Net.Core/DiscordErrorCode.cs
  src/Discord.Net.Core/Entities/Messages/IMessage.cs
  src/Discord.Net.Core/Entities/Messages/IReaction.cs
  src/Discord.Net.Core/Entities/Messages/ReactionMetadata.cs
  src/Discord.Net.Core/Entities/Messages/ReactionType.cs
  src/Discord.Net.Rest/API/Common/Reaction.cs
  src/Discord.Net.Rest/API/Common/ReactionCountDetails.cs
  src/Discord.Net.Rest/DiscordRestApiClient.cs
  src/Discord.Net.Rest/Entities/Messages/MessageHelper.cs
  src/Discord.Net.Rest/Entities/Messages/RestMessage.cs
  src/Discord.Net.Rest/Entities/Messages/RestReaction.cs
  src/Discord.Net.Rest/Net/Converters/ColorConverter.cs
  src/Discord.Net.Rest/Net/Converters/DiscordContractResolver.cs
  src/Discord.Net.WebSocket/API/Gateway/Reaction.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketMessage.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketReaction.cs
Labels: discord feature

#2796 [Feature] Clips support
  src/Discord.Net.Core/Entities/Messages/IAttachment.cs
  src/Discord.Net.Rest/API/Common/Attachment.cs
  src/Discord.Net.Rest/Entities/Interactions/CommandBase/RestResolvableData.cs
  src/Discord.Net.Rest/Entities/Messages/Attachment.cs
  src/Discord.Net.Rest/Entities/Messages/RestUserMessage.cs
  src/Discord.Net.WebSocket/Entities/Interaction/SocketBaseCommand/SocketResolvableData.cs
  src/Discord.Net.WebSocket/Entities/Messages/SocketUserMessage.cs
Labels: discord feature, priority: improvement

#2791 [Features] Automod member profile moderation, new application fields, use clyde ai & guild invenory settings
  src/Discord.Net.Core/Entities/Applications/ApplicationDiscoverabilityState.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationExplicitContentFilterLevel.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationInteractionsVersion.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationMonetizationEligibilityFlags.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationMonetizationState.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationRpcState.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationStoreState.cs
  src/Discord.Net.Core/Entities/Applications/ApplicationVerificationState.cs
  src/Discord.Net.Core/Entities/Applications/DiscoveryEligibilityFlags.cs
  src/Discord.Net.Core/Entities/Applications/IApplication.cs
  src/Discord.Net.Core/Entities/Guilds/AutoModeration/AutoModActionType.cs
  src/Discord.Net.Core/Entities/Guilds/AutoModeration/AutoModEventType.cs
  src/Discord.Net.Core/Entities/Guilds/AutoModeration/AutoModTriggerType.cs
  src/Discord.Net.Core/Entities/Guilds/GuildInventorySettings.cs
  src/Discord.Net.Core/Entities/Guilds/IGuild.cs
  src/Discord.Net.Core/Entities/Permissions/ChannelPermission.cs
  src/Discord.Net.Core/Entities/Permissions/ChannelPermissions.cs
  src/Discord.Net.Core/Entities/Permissions/GuildPermission.cs
  src/Discord.Net.Core/Entities/Permissions/GuildPermissions.cs
  src/Discord.Net.Rest/API/Common/Application.cs
  src/Discord.Net.Rest/API/Common/Guild.cs
  src/Discord.Net.Rest/API/Common/GuildInventorySettings.cs
  src/Discord.Net.Rest/Entities/Guilds/GuildHelper.cs
  src/Discord.Net.Rest/Entities/Guilds/RestGuild.cs
  src/Discord.Net.Rest/Entities/RestApplication.cs
  src/Discord.Net.WebSocket/Entities/Guilds/SocketGuild.cs
  test/Discord.Net.Tests.Unit/ChannelPermissionsTests.cs
  test/Discord.Net.Tests.Unit/GuildPermissionsTests.cs
Labels: discord feature, priority: improvement
